@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Phudu:wght@300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Romanesco&family=Satisfy&family=Sigmar&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins' ;
    background: whitesmoke;
}
header{
    .navbar{
        background-color: #083c5f;
        color: whitesmoke;
    }

    .navbar-brand{
        color: whitesmoke;
        font-weight: 700;
        font-size: 30px;
        margin-right: 70px;
    }
    .nav-link{
        color: whitesmoke;
        font-weight: 600;
        font-size: 18px;
    }
    .nav-link:hover{
        color: #356ea3;
    }
    .dropdown-menu{
        background-color: #0c61998f;
    }
    .dropdown-item{
        color: whitesmoke;
    }
    .container-fluid{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 100px;
    }
    .btn{
        border-color: #7893ca;
        color: #7893ca;
    }
    
}
.slide{
    height: 100vh;
    h5{
        font-size: 40px;
        font-weight: 700;
        color: whitesmoke;
    }
    p{
        color: whitesmoke;
        font-size: 25px;
    }
    .btn{
        background-color: #0b5d94;
        font-weight: 600;
        width: 250px;
        border: 20px;
    }
}
.carousel-item img{
    height: 740px;
    width: 80%;
    object-fit: cover;
    
}

.CARDS{
    height: 100vh;
    h2{
        font-size: 40px;
        font-weight: 700;
        color: #042439;
        text-align: center;
        margin-top: 50px;
    }
    .inscripciones__p{
        font-size: 20px;
        font-weight: 500;
        color: rgb(0, 0, 0);
        text-align: center;
        margin-top: 20px;
    }

    .row{
        margin-top: 100px;
        margin-left: 200px;
    }
    .card{
        width: 550px;
        height: 250px;
        border-radius: 20px;
    }
    .card-body{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background:  #1b567e;
        color: aliceblue;
        border-radius: 20px;
    }
    .img__card{
        width:470px;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
        padding: 10px;
    }
    .card-title{
        font-weight: 700;
        font-size: 25px;
        padding: 5px;
    }
    .card-text{
        padding: 5px;
    }
    .btn {
        background-color: #0b649f;
        font-weight: 600;
        width: 200px;
        border: none;
    }
    .btn:hover{
        background: #05273d;
        transition: all 0.5s;
    }
}
.compe{
    h2{
        font-size: 40px;
        font-weight: 700;
        color: #042439;
        text-align: center;
        margin-top: 50px;
    }
    .subtitulo{
        font-size: 20px;
        font-weight: 500;
        color: #042439;
        text-align: center;
        padding: 50px;
    }
}
.competencias{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 13px;
    margin-left: 100px;
    height: 80vh;
    .img-fluid{
        height: 348px;
        width: 388px;
        border-radius: 0px 20px 20px 0px
    }
    .card{
       background: linear-gradient( 45deg,#356ea3, #fffdfd);
        border-radius: 20px 20px 20px 20px;
        height: 350px;
        width: 1200px;
    }
    .card-title{
        color: #05273d;
        font-size: 20px;
        font-weight: 700;
    }
    .card-text{
        color: #05273d;
        font-weight: 600;
    }
    .btn{
        background-color: #0a4b75;
        padding: 8px;
        margin: 15px;
        margin-top: 25px;
        font-size: 15px;
    }
}
.contacto{
   height: 90vh;
   display: flex;
   justify-content: space-around;
.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 410px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 120px;
  }
  
  .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #08255e;
  }
  
  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-color: #08255e;
  }
  
  .group {
    position: relative;
  }
  
  .form .group label {
    font-size: 14px;
    color: rgb(13, 43, 91);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
  }
  
  .form .group input,
  .form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(9, 61, 124, 0.386);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: #3366cc;
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #3366cc;
    font-weight: 600;
    font-size: 14px;
  }
  
  .form .group textarea {
    resize: none;
    height: 100px;
  }
  
  .form button {
    background-color: #08255e;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form button:hover {
    background-color: #27408b;
  }
  h2{
    color:#08255e;
    font-weight: 700;
    font-size: 40px;
    display:flex ;
    align-items: center;
    text-align: center;
    margin-top: 250px;
    margin-left: 80px;
  }
  h3{
    font-size: 20px;
    font-weight: 500;
    width: 700px;
    color: #08255e;
    text-align: center;
    align-items: center;
    margin-top: 30px;
  }
  
}
footer{
    background: rgba(131, 131, 131, 0.347);
    height: 10vh;
    p{
        color: #042439;
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

    }
}
/* Dispositivos pequeños (teléfonos en modo retrato y paisaje) */
